extends base
block contenido
    .container-fluid.mt-3
        .row
            .col-sm-8.offset-sm-2
                h2.mt-2 Aplicaciones encontradas:
                br
                h6 Seleccione la que desea descargar y/o comprar
                h6(style='color:#cc0000') #{mensaje}
                table.table.table-bordered.table-hover.table-responsive-sm
                    thead.thead-dark
                        tr
                            th Nombre
                            th Descripción
                            th Precio
                            th Logo
                            th Archivo
                            th Paypal
                        each lista in modelo
                            tr
                                td
                                    | #{lista.nombre}
                                td
                                    | #{lista.descripcion}
                                td
                                    | #{lista.precio}
                                    input(type='hidden', id='precioP', value=lista.precio)
                                td
                                    img(src=lista.logo.replace('public',''), width='100px')
                                td
                                    a(href=lista.archivo.replace('public',''), download='')
                                        button.btn.btn-info#descarga(disabled) Descargar
                                td 
                                    #paypal-button
    script(src='https://www.paypalobjects.com/api/checkout.js')
    script.
        paypal.Button.render({
        env: 'sandbox',
        client: {
        sandbox: 'ASOsVLKueQhysn7X-rbCYIejjv1ocKMx9XRbrdIuWov9d54hwJkeK42yz8-8hEhTqV4dKUHtvQPIM9K8'
        },
        payment: function (data, actions) {
        return actions.payment.create({
        transactions: [{
        amount: {
        total: precioP.value,
        currency: 'USD'
        }
        }]
        });
        },
        onAuthorize: function (data, actions) {
        return actions.payment.execute()
        .then(function () {
        window.alert('Muchísimas gracias por su compra');
        descarga.disabled =false;
        });
        }
        }, '#paypal-button');
